#login.section
    section
        button(style="align-self: flex-start;",ng-click="router('')") Home
        h1 Connexion
        form(name="form",ng-controller="loginController",ng-submit="submit()",novalidate)
            // Login input
            etherinput(
                ng-model="formData.email",
                name="email",
                placeholder="Email",
                min="6",
                max="50",
                type="email",
                form="form"
            )
                span.error.invalid.fade(ng-show="form.email.$error.email && !form.email.$error.maxlength") Format d'email incorrect!
            etherinput(
                ng-model="formData.password",
                name="password",
                placeholder="Password",
                min="8",
                max="30",
                type="password",
                form="form"
            )
            // Submit input
            input(type="submit",ng-disabled="form.$invalid",value="GO")
            // FormData to JSON
            //pre {{formData | json}}
