#root.section(ng-controller="rootController")
    #popup.fade(ng-show="popup")
        .close(ng-click="closePopup()") Close
    header
        .logo
            h1 Ethernium 
            span Your dreams have never been so close.
        .menu 
            ul 
                li Inscription
                li: i(class="fa fa-twitter",style="color: #64B5F6")
                li: i(class="fa fa-facebook",style="color: #3F51B5")
                li: i(class="fa fa-twitch",style="color: #5E35B1")
                li(ng-click="router('login')") Connexion
    section
        .games
            img(preload-image ng-src="/img/cover/lol2.jpg" alt="Ethernium")
            h2 SupraBomba
            span A bomb always hides a another.
            ul
                li
                    i.fa.fa-play
                    | Play
                li(ng-click="router('games/lol')")
                    i.fa.fa-eye
                    | Discover
        .games
            img(preload-image ng-src="/img/cover/wow.jpg" alt="Ethernium")
            h2 Minee
            span Not enough minerals!
            ul
                li
                    i.fa.fa-play
                    | Play
                li
                    i.fa.fa-eye
                    | Discover
        .games
            img(preload-image ng-src="/img/cover/wow4.jpg" alt="Ethernium")
            h2 Askyu
            span The forest of your heart.
            ul
                li.inactive
                    i.fa.fa-clock-o
                    | Soon
                li
                    i.fa.fa-eye
                    | Discover
        .games
            img(preload-image ng-src="/img/cover/diablo.jpg" alt="Ethernium")
            h2 Monochrome
            span No need to be colored to die!
            ul
                li
                    i.fa.fa-play
                    | Play
                li
                    i.fa.fa-eye
                    | Discover
    #more_about_ethernium
        h2(ng-click="showMore()") More about Ethernium
    aside.showMore(ng-show="more")
    footer
        ul
            li Mentions
            li CGU
            li CGV
            li Contact
        ul
            li Games
            li SupraBomba
            li Monochrome
            li Spherunner
        ul
            li Tools
            li Superpowers
            li Atom.io
            li Electron.atom.io
