#discover.section
    nav
        ul(du-scroll-container="scroll_container")
            li(du-scrollspy="histoire" du-smooth-scroll="histoire") Histoire 
            li(du-scrollspy="gameplay" du-smooth-scroll="gameplay") Gameplay 
            li.logo 
                img(preload-image ng-src="/img/icons/protoss.png" alt="ethernium")
            li.right(du-scrollspy="character" du-smooth-scroll="character") Character 
            li.right(du-scrollspy="community" du-smooth-scroll="community") Community
    #bottom
    #back-to-ethernium(ng-click="router('')")
        p Back to ethernium
    .parallax#scroll_container
        .group.upper#histoire
            .layer.fore
                section
                    h2 Chapter 1
                    p
                        | L&rsquo;univers est si vaste et si grand qu&rsquo;il y a encore tout &agrave; d&eacute;couvrir. Des mondes naissent et disparaissent. Des tr&eacute;sors insoup&ccedil;onn&eacute;s attendent la main qui viendra les cueillir. 
                        br
                        br
                        | Dans un lieu recul&eacute;, si loin que s&rsquo;y rendre est d&eacute;j&agrave; toute une aventure, un appel a &eacute;t&eacute; lanc&eacute; :
                        | &ldquo; Aventuriers, Explorateurs, Mercenaires, Marchands, Pirates et forbans, vous qui avez tant vu de choses. Vous qui avez soif d&rsquo;aventures et de tr&eacute;sors, venez &agrave; moi pour obtenir le plus grand de tous les tr&eacute;sors. 
                        br
                        br
                        | Prouvez-moi votre ambition, votre valeur, votre courage. Seul ou en groupe, devenez les plus forts. Ceux l&agrave; seront r&eacute;compens&eacute;s et obtiendrons mon tr&eacute;sor : devenir l&rsquo;&Ecirc;tre Supr&ecirc;me , le Dieu d&rsquo;Ethernium, devenez Ethernium. 
                        | Alors vous aurez mon pouvoir immense, celui de cr&eacute;er &agrave; votre image.&ldquo;
                        br 
                        br
                        | A cette annonce, la plus grande des &eacute;pop&eacute;es de voyages galactique a commenc&eacute; pour devenir un Dieu, pour devenir Ethernium et avoir la chance de cr&eacute;er son monde. 
                        br 
                        br
                        | Le plus grand des jeux viens de commencer et les participants sont nombreux. Les r&egrave;gles changent et &eacute;voluent, mais le tr&eacute;sor lui reste l&agrave; et attend. Quel groupe sera Ethernium et qui seront alors les Dieux de ce monde nouveau ?

            .layer.base
                img.cover(preload-image ng-src="/img/cover/wow6.jpg" alt="ethernium")
        .group.lower#gameplay
            .layer.back
                img.cover(preload-image ng-src="/img/cover/nation.jpg" alt="ethernium")
            .layer.fore
                h1 Gameplay
                section 
                    iframe(src='https://www.youtube.com/embed/vzHrjOMfHPY')
        .group.upper#character
            .layer.fore
                h1 Character
                section.row
                    #left 
                        .perso
                            .nom Kashandra 
                            .avatar 
                                img(preload-image ng-src="/img/avatar/05.jpg" alt="ethernium")
                        .perso.pad
                            .nom Tchounou 
                            .avatar
                                img(preload-image ng-src="/img/avatar/04.jpg" alt="ethernium")
                        .perso.pad
                            .nom Viqki
                            .avatar
                                img(preload-image ng-src="/img/avatar/nova.jpg" alt="ethernium")
                        .perso 
                            .nom Aolin
                            .avatar
                                img(preload-image ng-src="/img/avatar/06.jpg" alt="ethernium")
                    #right
                        .select Select an avatar!
            .layer.base
                img.cover(preload-image ng-src="/img/cover/lol2.jpg" alt="ethernium")
        .group.lower#community
            .layer.back
                img.cover(preload-image ng-src="/img/cover/space.jpg" alt="ethernium")
            .layer.base
                h1 Community
                section 
        .group.upper(style="height: 50vh;")
            .layer.base
                img.cover(preload-image ng-src="/img/cover/temple.jpg" alt="ethernium")
