
form {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form .field {
    position: relative;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
}

form .field::before, form .field::after {
    content: ' ';
    height: 2px;
    background: #E0E0E0;
    position: absolute;
    left: 0;
    bottom: 26px;
    width: 100%;
    transition: all 0.3s linear;
}

form .field::after {
    background-color: #2196F3;
    transform: scaleX(0);
    transform-origin: 0 100%;
}

    form input[type="submit"] {
        border: none;
        background: #06F;
        color: #E0E0E0;
        height: 30px;
        padding: 0 20px;
        margin-left: auto;
        margin-top: 20px;
    }

    /* Has label style */
    form .field.has-label > label {
        transform: translateY(0);
        font-size: 12px;
    }

    /* Focus Style */
    form .field.is-focused::after {
        transform: scaleX(1);
    }

    form .field.is-focused > label {
        font-size: 12px;
        color: #2196F3;
    }

    form .field.is-focused > input {
        color: #2196F3;
    }

    form .field:not(.is-focused) > input {
        color: #E0E0E0;
    }

    form .field > label {
        position: relative;
        line-height: 16px;
        color: #FFF;
        font-weight: 400;
        transition: all 0.2s linear;
        transform: translateY(28px);
        transform-origin: 0 50%;
        font-size: 16px;
    }

    form .field > select {
        position: relative;
        line-height: 16px;
        padding: 8px 0;
        -webkit-appearence: none;
        height: 40px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: "Roboto";
        transition: all 0.2s linear;
        background: #E1E1E1;
        border-radius: 1px;
        outline: none;
        border: none;
        padding: 0 10px;
        border: 2px solid #FFF;
    }

    form .field > input {
        position: relative;
        line-height: 16px;
        padding: 8px 0;
        background: transparent;
        border: none;
        -webkit-appearance: none;
        font-family: "Roboto";
        font-size: 16px;
        height: 22px;
        transition: all 0.2s linear;
    }
        form .field > input.ng-valid {
            color: #D4E157;
        }

    form .field > .input_info {
        height: 20px;
        padding-top: 5px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        font-size: 0.85em;
        font-weight: 400;
        font-family: "Roboto";
    }
        form .field > .input_info span.error {
            transition: all 0.2s linear;
            color: #E0E0E0;
            font-weight: 300;
        }

        form .field > .input_info span.invalid {
            color: #FF5252;
        }
        form .field > .input_info span.info {
            color: #E0E0E0;
        }
        form .field > .input_info span.valid {
            color: #D4E157;
        }

        form .field > .input_info > .count {
            margin-left: auto;
            color: #E0E0E0;
        }
