body, html {
    height: 100%;
}
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background: #212121;
}

@font-face {
    font-family: "squaredeal";
    src: url("/fonts/square-deal.ttf")
}

.section {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}
