html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    line-height: 1;
    font-size: 1rem;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: flex;
}

ul li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

img {
    border: 0;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    padding: 0;
}

iframe {
    border: 0;
}

input, select {
    vertical-align: middle;
    outline: none;
}

pre.ng-binding {
    background: #333;
    color: #FFF;
    padding: 10px;
    border-radius: 2px;
    margin-top: 10px;
    border: 2px solid #FFF;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
    -webkit-appearance: none;
}
::-webkit-scrollbar-track-piece {
	background: transparent none;
	border: solid 4px transparent;
	border-right-width: 8px;
	margin: 4px;
}
::-webkit-scrollbar-track-piece:horizontal {
	border-right-width: 4px;
	border-bottom-width: 8px;
}
::-webkit-scrollbar-thumb {
	border: solid 0 transparent;
    background-clip: content-box;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(176,162,230), inset 0 0 0 6px rgb(176,162,230);
	-webkit-box-shadow: inset 0 0 0 1px rgb(245,245,245), inset 0 0 0 6px rgb(245,245,245);
}
::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgb(245,245,245), inset 0 0 0 6px rgb(245,245,245);
	-webkit-box-shadow: inset 0 0 0 1px #ded9f4, inset 0 0 0 6px #ded9f4;
}
::-webkit-scrollbar-thumb:horizontal {
	border-right-width: 0;
	border-bottom-width: 4px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px 9px;
	-webkit-border-bottom-left-radius: 5px 9px;
}
