/* Animations */
.showMore {
    transition: .2s linear all;
    height: 500px;
    overflow: hidden;
    will-change: height;
}
.showMore.ng-hide {
    height: 0;
}

/* Root #root section specific style : inherit of #root section */
#root {
    font-family: "Roboto";
    background: #212121; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #212121 , #512DA8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #212121 , #512DA8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    #root #popup {
        width: 100vw;
        height: 100vh;
        background: rgba(10,10,10,0.95);
        position: fixed;
        z-index: 999;
        transition: all 0.2s linear;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #root #popup > .close {
            background: #FFF;
            color: #333;
            padding: 2rrem;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

    /* Native CSS for all #root sections of Root */
    #root header, #root #root section, #root footer {
        display: flex;
        position: relative;
    }

    /* Root header */
    #root header {
        flex-basis: 270px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        z-index: 1;
        position: relative;
    }
        /* Logo text */
        #root header > .logo {
            width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            color: #FFF;
            margin-bottom: 20px;
        }
            #root header > .logo > h1 {
                font-size: 6.5rem;
                font-size: calc(100% + 9vmin);
                text-shadow: 1px 1px 1px rgba(20,20,20,0.5);
                font-family: Exo, "Roboto", Calibri;
            }
            @media screen and (max-width: 700px) {
                #root header > .logo > span {
                    font-size: 1rem;
                }
            }
            @media screen and (min-width: 700px) {
                #root header > .logo > span {
                    font-size: 1.3rem;
                }
            }
            #root header > .logo > span {
                color: #5C6BC0;
                text-shadow: 1px 1px 1px rgba(20,20,20,0.1);
                line-height: 0.7;
            }

        /* Root header menu #root section for UL sub element */
        #root header > .menu {
            margin-top: 10px;
            display: flex;
            flex-shrink: 0;
        }
            #root header > .menu > ul {
                display: inherit;
                height: 45px;
            }
                @media screen and (max-width: 700px) {
                    #root header > .menu > ul li  {
                        font-size: 0.9rem;
                    }

                    #root header > .menu > ul li:first-child, #root header > .menu > ul li:last-child {
                        padding: 0 0.8rem;
                    }
                }
                @media screen and (min-width: 700px) {
                    #root header > .menu > ul li  {
                        font-size: 1rem;
                    }

                    #root header > .menu > ul li:first-child, #root header > .menu > ul li:last-child {
                        padding: 0 1rem;
                    }
                }
                #root header > .menu > ul li {
                    background: rgba(20,20,20,0.5);
                    color: #FFF;
                    display: flex;
                    font-weight: 700;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.2s linear;
                    font-family: "Roboto";
                    border: 2px solid rgba(100,100,150,0.4);
                }
                    #root header > .menu > ul li:hover {
                        background: rgba(20,20,20,0.4);
                        border-color: #FFF;
                        cursor: pointer;
                    }

                #root header > .menu > ul li:not(:first-child):not(:last-child) {
                    border-radius: 50%;
                    width: 45px;
                }

                #root header > .menu > ul li:first-child, #root header > .menu > ul li:last-child {
                    border-radius: 2px;
                }
                #root header > .menu > ul li:first-child {
                    transform: skew(-10deg);
                }
                #root header > .menu > ul li:last-child {
                    transform: skew(10deg);
                }

                #root header > .menu > ul li + li {
                    margin-left: 10px;
                }

    /* More about ethernium button */
    #root #more_about_ethernium {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
            @media screen and (max-width: 900px) {
                #root  #more_about_ethernium > h2 {
                    width: 78vw;
                    font-size: 1.25em;
                }
            }
            @media screen and (min-width: 900px) {
                #root  #more_about_ethernium > h2 {
                    width: 50vw;
                    font-size: 1.5em;
                }
            }
            #root  #more_about_ethernium > h2 {
                height: 60px;
                background: #2196F3;
                transform: skew(-10deg);
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 1px 1px 15px rgba(20,20,20,0.1);
                color: #FFF;
                transition: background 0.1s linear, color 0.1s linear;
                font-family: Exo, "Roboto", Calibri;
                padding: 0 1rem;
            }
                #root  #more_about_ethernium > h2:hover {
                    background: #AB47BC;
                    cursor: pointer;
                }


    /* Root #root section */
    #root section {
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        position: relative;
        box-shadow: -15px -10px 100px 2px rgba(20, 15, 215, 0.2);
    }
        @media screen and (max-width: 1000px) {
            #root section > .games {
                height: 250px;
            }
        }
        @media screen and (min-width: 1000px) {
            #root section > .games {
                height: 370px;
            }
        }

        #root section > .games {
            flex: 1 1 500px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            box-sizing: padding-box;
            position: relative;
            transition: all 1s linear;
            overflow: hidden;
            background: transparent;
            box-shadow: 1px 1px 20px rgba(10,10,10,0.5) inset;
        }

            #root section > .games::before {
                width: 100%;
                height: 100%;
                content: ' ';
                position: absolute;
                left: 0;
                top: 0;
                display: none;
                z-index: -1;
            }

            #root section > .games::after {
                width: 100%;
                height: 100%;
                content: ' ';
                position: absolute;
                left: 0;
                top: 0;
                display: none;
                z-index: 100;
            }

            #root section > .games > h2 {
                color: #fff;
                font-style: italic;
                font-weight: 500;
                font-size: 2.5rem;
                font-size: calc(100% + 4vmin);
                text-shadow: 1px 1px 4px rgba(15,15,15,1);
                transition: color 0.2s linear;
                font-family: "squaredeal", Exo, "Roboto", Calibri;
                margin-bottom: 10px;
            }

            #root section > .games > img {
                object-fit: cover;
                max-width: 100%;
                min-width: 100%;
                min-height: 100%;
                position: absolute;
                background: transparent;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                z-index: -1;
                transition: all 1s linear;
            }
                #root section > .games > img:not(.loaded) {
                    opacity: 0;
                }
                #root section > .games > img.loaded {
                    opacity: 1;
                }

            #root section > .games > span {
                background: #2196F3;
                align-self: flex-start;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                transform: skew(-10deg);
                margin-left: 40px;
                font-weight: 500;
                color: #FFF;
                text-shadow: 1px 1px 4px rgba(15,15,15,0.1);
                font-size: 1rem;
                box-shadow: 1px 1px 10px 3px rgba(150,150,150,0.25);
                border-radius: 2px;
                border: 2px solid #FFF;
            }

            #root section > .games > ul {
                height: 40px;
                display: flex;
                justify-content: center;
                margin-top: auto;
            }
                #root section > .games > ul li {
                    height: 40px;
                    border-radius: 2px;
                    min-width: 20%;
                    max-width: 30%;
                    transform: skew(-10deg);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-size: 1.05rem;
                    box-shadow: 2px 2px 15px 2px rgba(20,20,20,0.4);
                    transition: background 0.2s linear;
                    padding: 0 1rem;
                }
                    #root section > .games > ul li i {
                        font-size: 15px;
                        margin-right: 10px;
                    }
                    #root section > .games > ul li:nth-child(1) {
                        background: #D4E157;
                        color: #333;
                    }
                    #root section > .games > ul li:nth-child(1):not(.inactive) {
                        text-shadow: 1px 1px 1px yellow;
                    }
                        #root section > .games > ul li:nth-child(1):hover {
                            background: #EEFF41;
                        }
                    #root section > .games > ul li:nth-child(2) {
                        background: #2196F3;
                        color: #FFF;
                        text-shadow: 1px 1px 1px #1976D2;
                    }
                        #root section > .games > ul li:nth-child(2):hover {
                            background: #AB47BC;
                            text-shadow: 1px 1px 1px #4A148C;
                        }

                    #root section > .games > ul li.inactive {
                        pointer-events: none;
                        opacity: 0.9;
                        background: rgba(60,40,60,0.8);
                        color: #FFF;
                    }
                    #root section > .games > ul li:hover {
                        cursor: pointer;
                    }

                #root section > .games > ul li + li {
                    margin-left: 20px;
                }


    /* Rooter footer */
    #root footer {
        min-height: 180px;
        flex-shrink: 0;
        justify-content: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

        #root footer > ul {
            display: flex;
            flex-direction: column;
            flex-basis: 160px;
            flex-shrink: 0;
            padding: 0 20px;
            margin-top: 20px;
        }
        #root footer > ul:first-child {
            padding-right: 10px;
        }
        @media screen and (min-width: 600px) {
            #root footer > ul + ul {
                border-left: 2px ridge rgba(255,255,255,0.1);
            }
        }
        #root footer > ul + ul {
            padding: 0 10px;
        }
        #root footer > ul li {
            font-size: 1rem;
        }

        #root footer > ul li:first-child {
            background: #FFF;
            height: 26px;
            border-radius: 10px;
            color: #6A1B9A;
            padding: 0 10px;
            font-weight: 500;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
        }
        #root footer > ul li:not(:first-child) {
            margin-left: 20px;
            transition: color 0.2s linear;
            color: #EDE7F6;
            margin-top: 2px;
        }
            #root footer > ul li:not(:first-child):hover {
                color: #EEFF41;
                cursor: pointer;
            }
