#discover {
    font-family: Exo;
    height: 100vh;
}
    #discover #bottom {
        height: 100px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 998;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.03) 15%, rgba(255,213,79,0.21) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 15%,rgba(255,213,79,0.21) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 15%,rgba(255,213,79,0.21) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#36ffd54f',GradientType=0 ); /* IE6-9 */
        border-bottom: 4px solid #FFD54F;
    }

    #discover #back-to-ethernium {
        width: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: fixed;
        height: 0;
        display: flex;
        padding: 0 2rem;
        font-size: 1rem;
        align-items: center;
        z-index: 999;
        border-bottom: 40px solid #FFD54F;
    	border-left: 60px solid transparent;
    	border-right: 60px solid transparent;
        transition: all 0.2s linear;
    }
        #discover #back-to-ethernium:hover {
            cursor: pointer;
        }
        #discover #back-to-ethernium > p {
            margin-top: 40px;
            color: #333;
            font-weight: bold;
            font-family: Exo;
        }

    #discover nav {
        height: 100px;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
        display: flex;
        justify-content: center;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.59) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.59) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.59) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
        #discover nav > ul {
            display: flex;
            align-items: center;
        }
            #discover nav > ul li + li {
                margin-left: 10px;
            }
            #discover nav > ul li.logo {
                border-radius: 50%;
                width: 80px;
                height: 80px;
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                overflow: hidden;
            }
                #discover nav > ul li.logo > img {
                    width: 110%;
                    height: 110%;
                }
            #discover nav > ul li:not(.logo):not(.right) {
                transform: skew(-10deg);
            }
            #discover nav > ul li.right {
                transform: skew(10deg);
            }
            @media screen and (max-width: 700px) {
                #discover nav > ul li:not(.logo) {
                    font-size: 0.9rem;
                    padding: 0 5px;
                }
            }
            @media screen and (min-width: 700px) {
                #discover nav > ul li:not(.logo) {
                    min-width: 120px;
                    font-size: 1.1rem;
                }
            }
            #discover nav > ul li:not(.logo) {
                height: 40px;
                border-radius: 2px;
                background: #FAFAFA;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
                transition: all 0.2s linear;
                font-weight: 500;
                box-sizing: border-box;
                border: 2px solid #FFF;
                -webkit-backface-visibility: hidden;
            }
            #discover nav > ul li:not(.logo).active {
                background: #FFD54F;
            }
                #discover nav > ul li:not(.logo):not(.active):hover {
                    background: #FFD54F;
                    cursor: pointer;
                }

    #discover .parallax {
        width: 100vw;
        height: 100vh;
        -webkit-perspective: 300px;
        perspective: 300px;
        perspective-origin-x: 100%;
        -webkit-perspective-origin-x: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
        transition: all 0.2s linear;
    }

        #discover .parallax > .group {
            position: relative;
            height: 500px;
            min-height: 100vh;
            width: 100vw;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            box-sizing: border-box;
            box-shadow: 1px 1px 15px #000 inset;
            transition: all 0.2s linear;
        }

            #discover .parallax > .group.upper {
                z-index: 4;
            }
            #discover .parallax > .group.lower {
                z-index: 3;
            }

            #discover .parallax > .group > .layer {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 50vh 0;
                -webkit-transform-origin-x: 100%;
                transform-origin-x: 100%;
                overflow: hidden;
                transition: all 0.2s linear;
            }

                #discover .parallax > .group > .layer h1 {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    top: 130px;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    font-size: 3.6rem;
                    color: #FFF;
                    letter-spacing: 2px;
                    text-shadow: 0px 3px 0px #263238,
                        0px 14px 10px rgba(0,0,0,0.15),
                        0px 24px 2px rgba(0,0,0,0.1),
                        0px 34px 30px rgba(0,0,0,0.1);
                }
                @media screen and (max-width: 1000px) {
                    #discover .parallax > .group > .layer section {
                        width: 85vw;
                    }
                }
                @media screen and (min-width: 1000px) {
                    #discover .parallax > .group > .layer section {
                        width: 55vw;
                    }
                }
                #discover .parallax > .group > .layer section {
                    height: 55vh;
                    z-index: 1;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    display: flex;
                    text-align: left;
                    color: #FFF;
                    font-family: "Roboto";
                    flex-shrink: 0;
                }
                    #discover .parallax > .group > .layer section:not(.row) {
                        justify-content: center;
                        flex-direction: column;
                    }

                    #discover .parallax > .group > .layer section #right {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 20px;
                    }
                        #discover .parallax > .group > .layer section #right > .select {
                            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
                            height: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            color: #333;
                            font-family: Exo;
                            font-weight: 600;
                            font-size: 1.4em;
                            padding: 0 1.5em;
                            border-radius: 3px;
                        }

                    #discover .parallax > .group > .layer section #left {
                        flex-basis: 40%;
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                        #discover .parallax > .group > .layer section #left > .perso {
                            height: 95px;
                            display: flex;
                            align-items: center;
                            position: relative;
                        }
                            #discover .parallax > .group > .layer section #left > .perso:hover {
                                cursor: pointer;
                            }
                            #discover .parallax > .group > .layer section #left > .perso:hover .nom {
                                border-color: #FFD54F;
                                color: #FFD54F;
                            }
                            #discover .parallax > .group > .layer section #left > .perso:hover .avatar {
                                background: #FFD54F;
                            }

                            #discover .parallax > .group > .layer section #left > .perso > .nom {
                                height: 45px;
                                width: 71%;
                                transform: skew(-10deg);
                                display: flex;
                                align-items: center;
                                padding: 0 20px;
                                color: #FFF;
                                border-left: 3px solid #FFF;
                                border-bottom: 3px solid #FFF;
                                box-sizing: border-box;
                                font-family: Exo;
                                font-weight: 600;
                                font-size: 1.4em;
                                border-radius: 10px;
                                text-shadow: 1px 1px 2px rgba(20,20,20,0.5);
                                transition: all 0.2s linear;
                                -webkit-backface-visibility: hidden;
                            }
                                #discover .parallax > .group > .layer section #left > .perso:not(.pad) > .nom {
                                    margin-left: 10%;
                                }

                            #discover .parallax > .group > .layer section #left > .perso > .avatar {
                                height: inherit;
                                width: 95px;
                                background: #FFF;
                                position: absolute;
                                top: 0;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                z-index: 1;
                                transition: all 0.2s linear;
                            }
                                #discover .parallax > .group > .layer section #left > .perso:not(.pad) > .avatar {
                                    right: 0;
                                }
                                #discover .parallax > .group > .layer section #left > .perso.pad > .avatar {
                                    right: 50px;
                                }
                                #discover .parallax > .group > .layer section #left > .perso > .avatar img {
                                    width: 95%;
                                    height: 95%;
                                    border-radius: 100%;
                                    z-index: 2;
                                    -webkit-backface-visibility: hidden;
                                }

                        #discover .parallax > .group > .layer section #left > .perso + .perso {
                            margin-top: 20px;
                        }

                    #discover .parallax > .group > .layer section > h2 {
                        font-size: 3rem;
                        margin-bottom: 20px;
                        text-shadow: 1px 1px 2px #000;
                        color: #FFD54F;
                    }
                    #discover .parallax > .group > .layer section > p {
                        font-size: 1.2rem;
                        text-shadow: 2px 2px 1px rgba(20,20,20,0.5);
                        line-height: 1.2;
                        text-align: justify;
                        color: #FFF8E1;
                    }
                    #discover .parallax > .group > .layer section > iframe {
                        min-width: 100%;
                        min-height: 100%;
                        box-sizing: border-box;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
                    }

                #discover .parallax > .group > .layer img.cover {
                    object-fit: cover;
                    max-height: 100vh;
                    min-width: 100%;
                    position: absolute;
                    background: transparent;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    transition: all 1s linear;
                }
                    #discover .parallax > .group > .layer img:not(.loaded) {
                        opacity: 0;
                    }
                    #discover .parallax > .group > .layer img.loaded {
                        opacity: 1;
                    }

                #discover .parallax > .group > .layer.fore {
                    -webkit-transform: translateZ(90px) scale(.7);
                    transform: translateZ(90px) scale(.7);
                    min-width: 100%;
                    z-index: 0;
                }
                #discover .parallax > .group > .layer.deep {
                    -webkit-transform: translateZ(-600px) scale(3);
                    transform: translateZ(600px) scale(3);
                    min-width: 100%;
                    z-index: 1;
                }
                #discover .parallax > .group > .layer.base {
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    z-index: 3;
                }
                #discover .parallax > .group > .layer.back {
                    -webkit-transform: translateZ(-300px) scale(2);
                    transform: translateZ(-300px) scale(2);
                    min-width: 100%;
                    z-index: 2;
                }
