doctype html
html(lang='fr',ng-app="Ethernium")
    head
        title Ethernium
        link(rel='stylesheet', href='/fonts/Exo.css')
        link(rel='stylesheet', href='/fonts/Roboto.css')
        link(rel='stylesheet', href='/lib/ngProgress.css')
        link(rel='stylesheet', href='/lib/font-awesome.css')
        link(rel='stylesheet', href='/lib/animate.css')
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/master.css')
        link(rel='stylesheet', href='/css/form.css')
        link(rel='stylesheet', href='/css/animation.css')
        link(rel='stylesheet', href='/css/root.css')
        link(rel='stylesheet', href='/css/login.css')
        link(rel='stylesheet', href='/css/discover/parallax.css')
    body(ng-controller="layoutController")
        #ngView.view(ng-view)
        script(src="../socket.io/socket.io.js")
        script(src="/lib/angular.min.js")
        script(src="/lib/angular-animate.min.js")
        script(src="/lib/angular-sanitize.min.js")
        script(src="/lib/angular-route.min.js")
        script(src="/lib/ngProgress.js")
        script(src="/lib/angular-scroll.min.js")
        script(src="/lib/angular-preload-image.min.js")
        script(src="/js/factory/socket.js")
        script(src="/js/directives/etherForm.js")
        script(src="/js/controller/router.js")
        script(src="/js/controller/main.js")
